  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  
  
  form {
    border: 3px solid #eff0f0;
    box-shadow: 20px 20px 20px grey;
    border-radius: 15px;
  }
  
  body{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  form .heading{
    margin-top: 20px;
    text-align: center;
  }

  .structure, .structure2{
    margin-top: 50px;
    max-width: 700px;
  }

   input[type=text], input[type=password], input[type=email] {
    font-size: 15px;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  } 

  .boxicoin{
    background-color:rgb(252, 97, 25);
  }
    
  button {
    font-size: 15px;
    background-color: #05aa05;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    opacity: 0.7;
  }
  
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #ff1606;
  }
  
  .imagebox {
    text-align: center;
    margin: 24px 0 12px 0;
  }
  
  .avatar {
    width: 40%;
    border-radius: 50%;
  }
  
  .container2 {
    display: flex;
    justify-content: space-between;
    /* padding: 10px 25px; */
    /* padding: 20px; */
  }

  .container2,.container{
    padding: 20px;
  }

.terms{
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 10px 30px; */
  margin: 10px 0px;
}

  span.links {
    float: right;
    padding-top: 16px;
  }

  .hover{
    text-decoration: none;
  }

  .hover:hover {
    color:#fc1505;
    /* color: #111; */
    cursor: pointer;
    font-size: 18px;
    font-weight: 300;
  }
  
  @media screen and (max-width: 300px) {
    span.links {
      display: block;
      float: none;
    }
    .cancelbtn {
      width: 100%;
    }
  }